body {
  text-align: center;
  font-family: sans-serif;
}

#game-area {
  display: flex;
  flex-direction: column; /* 행들이 아래로 쌓이게 */
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;          /* 한 행 안의 사과들을 가로로 배치 */
}

.apple {
  width: 40px;
  height: 40px;
  background-color: #ffcccc;
  border: 1px solid #cc6666;
  margin: 1px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  user-select: none;
}
