body {
  text-align: center;
  font-family: sans-serif;
}

#game-area {
  display: flex;
  flex-direction: column; /* 행들이 아래로 쌓이게 */
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;          /* 한 행 안의 사과들을 가로로 배치 */
}

.fruit {
  width: 40px;
  height: 40px;
  background-color: #ffcccc;
  border: 1px solid #cc6666;
  margin: 6px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  user-select: none;
}

.fruit.selected {
  transform: scale(1.05);   /* 약간 확대 */
  box-shadow: 0 0 8px rgba(255, 200, 0, 0.7);  /* 노란 빛 번짐 */
  transition: 0.15s;
}


.select-box {
  position: absolute;        
  border: 2px solid blue;    
  background: rgba(0, 0, 255, 0.2); 
  pointer-events: none;      
  z-index: 999;               
}

