body {
  text-align: center;
  font-family: sans-serif;
}

/* 텍스트 드래그 선택 완전 금지 */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* 게임 영역 전체를 그리드로 구성 */
#game-area {
  display: grid;
  grid-template-columns: repeat(17, 60px); /* 사과 크기 커진 만큼 조정 */
  grid-auto-rows: 60px;
  gap: 0px;
  margin-top: 20px;
  justify-content: center;
}

.fruit {
  width: 60px;
  height: 60px;

  background-image: url("image/Apple.png");
  background-size: 55px 55px; /* 사과 크기 조절 (90% 정도) */
  background-repeat: no-repeat;
  background-position: center;

  font-weight: bold;
  font-size: 22px;
  color: white;
  text-shadow: 0px 0px 3px black;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none; /* 기본 과일: 테두리 제거 */
}

/* 선택된 과일 */
.fruit.selected {
  outline: 4px solid #66aaff;
  outline-offset: -2px;
  border-radius: 8px;
}

/* 보너스 과일 (노란색) */
.bonus-fruit {
  background-image: url("image/Golden_Apple.png")
}

/* 타이머 과일 (파란색) */
.timer-fruit {
  background-image: url("image/Timer.png");
  color: black !important;
  text-shadow: 0px 0px 0px white
}

/* 삭제된 과일 */
.empty {
  width: 60px;
  height: 60px;
  background: transparent;
  pointer-events: none;
}

/* 드래그 박스 */
.select-box {
  position: absolute;
  border: 2px solid blue;
  background: rgba(0, 0, 255, 0.2);
  pointer-events: none;
  z-index: 999;
}
